
@font-face {
    font-family: "Work Sans";
    src: url("/static/fonts/Work Sans/300/300.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/Work Sans/300/300.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("/static/fonts/Work Sans/300/300.woff") format("woff"),
         url("/static/fonts/Work Sans/300/300.woff2") format("woff2"),
         url("/static/fonts/Work Sans/300/300.otf") format("opentype"),
         url("/static/fonts/Work Sans/300/300.ttf") format("truetype"),
         url("/static/fonts/Work Sans/300/300.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("/static/fonts/Work Sans/400/400.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/Work Sans/400/400.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("/static/fonts/Work Sans/400/400.woff") format("woff"),
         url("/static/fonts/Work Sans/400/400.woff2") format("woff2"),
         url("/static/fonts/Work Sans/400/400.otf") format("opentype"),
         url("/static/fonts/Work Sans/400/400.ttf") format("truetype"),
         url("/static/fonts/Work Sans/400/400.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("/static/fonts/Work Sans/500/500.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/Work Sans/500/500.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("/static/fonts/Work Sans/500/500.woff") format("woff"),
         url("/static/fonts/Work Sans/500/500.woff2") format("woff2"),
         url("/static/fonts/Work Sans/500/500.otf") format("opentype"),
         url("/static/fonts/Work Sans/500/500.ttf") format("truetype"),
         url("/static/fonts/Work Sans/500/500.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("/static/fonts/Work Sans/600/600.eot"); /* IE9 Compat Modes */
    src: url("/static/fonts/Work Sans/600/600.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("/static/fonts/Work Sans/600/600.woff") format("woff"),
         url("/static/fonts/Work Sans/600/600.woff2") format("woff2"),
         url("/static/fonts/Work Sans/600/600.otf") format("opentype"),
         url("/static/fonts/Work Sans/600/600.ttf") format("truetype"),
         url("/static/fonts/Work Sans/600/600.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

body {
    color: #222;
    background-color: #F5F5F5;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.17rem;
}

#content {
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    max-width: 1140px;
    margin: 0 auto;
}

#core {
    padding: 15px;
}


footer {
    padding: 30px 15px 1px 15px;
    text-align: center;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}


.clear {
    clear:both;
}

#page .col-sm {
    padding: 15px;
}

.center {
    text-align: center;
}

.red {
    background-color: red;
}

/* index Menu */

#logout {
         display:inline;
         margin:0px;
         padding:0px;
}

#menu {
    background-image: linear-gradient(to right, #336600, #59b300);
    padding: 5px 0 10px 0;
    text-shadow: 0 0 3px rgba(51, 102, 0, 0.5);
}

#menu .row {
    margin: 0;
}

#menu #title {
    display: inline;
    color: white;
    font-weight: 500;
    font-size: 40px;
    padding: 2px 15px 0 30px;
    line-height: 115%;
}

#menu #menu-search {
    padding: 9px 15px 0;
    flex-grow: 1;
    flex-basis: 140px;
}

#menu #menu-search input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 3px 10px;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), white);
    font-family: inherit;
    transition: .2s;
}

#menu #menu-search input:hover,
#menu #menu-search input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), white);
    outline: none;
}

#menu #menu-search input::placeholder {
    color: rgba(0, 0, 0, 0.75);
}

#menu #menu-links {
    padding: 12px 30px 0 15px;
}

#menu #menu-links a {
    color: #F1F1F1;
}

#menu #menu-links .menu-element {
    margin-right: 10px;
    color: white;
}

#menu #menu-links .menu-element:last-child {
    margin-right: 0;
}

/* index page */

.index-links .btn {
    margin: 10px;
}

.index-stats-row {
    margin: 10px;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.stat-num {
    font-size: 30px;
    font-weight: 700;
}

.index-crate-block {
    margin-bottom: 20px;
    padding:10px;
    border-radius: 5px;
    background-color: #fffff5;
    border: 1px solid grey;
}

.bold {
    font-weight: bold;
}

/* crates page */

#letters {
    margin-top: 20px;
    margin-bottom: 20px;
}

.letter-link {
    font-size: 1.2em;
    display: inline-block;
    width: 39px;
    height: 44px;
    line-height: 44px;
}

/* categories page */


.category-row {
    margin: 30px 0;
}

.row.category-row {
    padding: 0;
    margin: 30px 0;
}

.category {
    padding: 0.4rem 0.7rem;
}

.category:not(:hover) {
    color: inherit;
}
.category:hover {
    text-decoration: none;
    background-color: #f9f9f9;
}

.category h2,
.category p {
    margin: 0.2rem 0;
}

.category .description {
    color: black;
}

.category .crate-count {
    color: gray;
    font-size: 90%;
}

/* crate page */

.crate-header > div:first-child {
    margin-bottom: 1rem;
}

span.categories:not(:empty) {
    margin: 0 1.5rem 0 0;
}

span.categories span:not(:last-child) {
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    border-right: 1px solid gray;
}

span.keywords a,
span.keywords span {
    margin: 0 0.2rem;
}

span.keywords span {
    color: gray;
}

.crate-version {
    margin-left: 1.5rem;
    font-size: 80%;
    opacity: 0.6;
}

.doc-links {
    margin: 0 0 1rem 0;
}

.doc-links a:not(:last-child) {
    margin-right: 1rem;
}

.add-crate {
    padding: 0;
    margin: 0 0 1rem 0;
    line-height: 3rem;
}

.add-crate div {
    padding: 0 1rem 0 0;
}

.add-crate code {
    display: block;
    flex-grow: 1;
    padding: 0 1rem;
    background-color: #f4f4f4;
    color: black;
}

.add-crate code .hl-string {
    color: #cb2144;
}

.uuid {
    color: gray;
    font-size: 83%;
    margin-bottom: 0.2rem;
}

/* common crate things */

.crate-list-element {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    padding:30px;
    border-radius: 5px;
    background-color: #fffff5;
    border: 1px solid grey;
}

/* general things */

a:not(.btn):focus {
    outline: none;
    text-decoration: underline;
}

/* for mobile devices */

@media (max-width: 800px) {
    :root {
        font-size: 95%;
    }

    #menu #title {
        font-size: 33px;
        padding: 3px 0 0 15px;
    }

    #menu #menu-search {
        padding-top: 6px;
    }

    #menu #menu-links {
        padding: 10px 15px 0;
    }

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .index-stats-row {
        margin: 10px 0;
    }
}
